@media (max-width : 1024px)
{
    header
    {
        background-attachment: scroll;
        
    }
    #testimonial
    {
        .carousel-item
        {
            p 
            {
                width: 100%;
            }
        }
    }
}
@media (max-width:767px)
{
    #navbar 
    {
        .navbar-nav
        {
            align-items: center;
            z-index: 99999999*9;
        }
    }
    header
    {
        .display-3 
        {
            font-size: 2.125rem !important;
        }
        .display-5
        {
            font-size: 2rem;
        }
    }
    #about
    {
         .photo
         {
            
            img 
            {
                width: 80%;
                margin: 0 auto;
                
            }
         }
         .photo::after
         {
            content: "";
            left: 10px;
         }
    }
}